@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-montserrat: "Montserrat", sans-serif; 
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9fafb inset; /* цвет фона Tailwind bg-gray-50 */
  -webkit-text-fill-color: #000; /* цвет текста */
}